<?xml version="1.0"?>

<launch>
    <node pkg="pointcloud_merger" type="pointcloud_merger_node" name="pointcloud_merger_node">

        <remap from="cloud_out" to="cloud_out_merged"/>
	<remap from="cloud1" to="/zed/depth/points"/>
	<remap from="cloud2" to="/rs_points"/>
        <rosparam>
            target_frame: zed_optical_frame # Leave disabled to output scan in pointcloud frame

            # Concurrency level, affects number of pointclouds queued for processing, thread number governed by nodelet manager
            # 0 : Detect number of cores
            # 1 : Single threaded
            # 2->inf : Parallelism level
            concurrency_level: 0
        </rosparam>

    </node>

</launch>
